doctype html
html
  head
    link(rel='stylesheet',href='style.css')
    script(src='../../lib/TreeView.js')
  body
    main
    nav
      button.CreateItem Create item
      button.CreateGroup Create group
      button.RemoveSelected Remove selected
    script
      :coffee
        treeView = new TreeView document.querySelector 'main'

        itemNumber = 1
        createItem = ->
          itemElt = document.createElement 'li'

          iconElt = document.createElement 'div'
          iconElt.classList.add 'icon'
          itemElt.appendChild iconElt

          spanElt = document.createElement 'span'
          spanElt.textContent = "Item #{itemNumber++}"
          itemElt.appendChild spanElt
          
          itemElt

        groupNumber = 1
        createGroup = ->
          groupElt = document.createElement 'li'

          spanElt = document.createElement 'span'
          spanElt.textContent = "Group #{groupNumber++}"
          groupElt.appendChild spanElt

          groupElt

        for i in [0...3]
          group = createGroup()
          treeView.append group, 'group'

          for i in [0...3]
            item = createItem()
            treeView.append item, 'item', group

        document.querySelector('nav .CreateItem').addEventListener 'click', ->
          treeView.append createItem(), 'item'
          return

        document.querySelector('nav .CreateGroup').addEventListener 'click', ->
          treeView.append createGroup(), 'group'
          return

        document.querySelector('nav .RemoveSelected').addEventListener 'click', ->
          while treeView.selectedItems.length > 0
            treeView.remove treeView.selectedItems[treeView.selectedItems.length - 1]
          return
