*
  box-sizing border-box

html, body
  height 100%
  margin 0

body
  font-family Arial
  display flex
  flex-flow column

main
  border 1px solid #888
  flex 1
  margin 1em 1em 0 1em
  
  overflow-y auto

nav
  display flex
  margin 0.5em 1em 1em 1em
  
  button
    margin-right 0.5em
    padding 0.5em

ol.tree
  list-style none
  line-height 1.5
  margin 0
  padding 0 0 2em 0
  width 100%
  min-height 100%

  *
    -webkit-user-select none

  ol
    list-style none
    margin 0
    padding-left 32px

    &:last-of-type.drop-below
      border-bottom 2px solid #888
      padding-bottom 0

  li.item, li.group
    background-clip border-box
    height 2em
    display flex
    padding 2px
    cursor default

    > .icon, > .toggle
      margin -2px
      width 32px
      height 32px

    span
      align-self center
      padding 0.25em

    &:hover
      background-color #eee

    &.drop-above
      border-top 2px solid #888
      padding-top 0

    &.drop-inside
      border 2px solid #888
      padding 0
    
    &.selected
      background #ccc

  li.item
    > .icon
      background-image url(item.svg)

    &.drop-below
      border-bottom 2px solid #888
      padding-bottom 0

  li.group > .toggle
    background-image url(group-open.svg)
    cursor pointer

  li.group.collapsed
    > .toggle
      background-image url(group-closed.svg)

    + ol
      > ol, > li
        display none
