doctype html
html
  head
    link(rel='stylesheet',href='style.css')
    script(src='treeView.js')
  body
    main
      ol.tree
        li.item(draggable="true")
          .icon
          span Item
        li.group(draggable="true")
          .icon
          span Group 1
        ol.children
          li.item(draggable="true")
            .icon
            span Child item 1
        li.group(draggable="true")
          .icon
          span Group 2
        ol.children
          li.item(draggable="true")
            .icon
            span Child item 2
        li.group(draggable="true")
          .icon
          span Group 3
        ol.children
          li.item(draggable="true")
            .icon
            span Child item 3
          li.item(draggable="true")
            .icon
            span Child item 4

    script.
      treeView(document.querySelector('ol.tree'))